.createModal, .deleteModal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 50;
}
.formDiv, .deleteConfirmBox{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    top: 20vh;
    
}